.photo-grid {
    max-width: 93%;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    justify-content: center;
}

@media screen and (max-width:1030px) {
    .photo-grid {
        max-width: 91%;
        gap: 14px;
    }
}

@media screen and (max-width:770px) {
    .photo-grid {
        max-width: 94%;
        gap: 16px;
    }
}

@media screen and (max-width:425px) {
    .photo-grid {
        max-width: 90%;
        gap: 12px;
    }
}
