.photo-grid {
    width: 93%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    justify-content: center;
}

@media screen and (max-width:1024px) {
    .photo-grid {
        width: 90%;
        gap: 12px;
    }
}

@media screen and (max-width:425px) {
    .photo-grid {
        gap: 12px;
    }
}
