.places {
    padding: 92px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width:1279px) {
    .places { 
        padding: 93px 0;
    }
}

@media screen and (min-width:426px) and (max-width:768px) {
    .places { 
        padding: 90px 0 88px 0;
    }
}

@media screen and (max-width:425px) {
    .places { 
        width: 100%;
        padding: 67px 0;
    }
}