.places {
    padding: 92px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width:426px) and (max-width:1030px) {
    .places { 
        padding: 100px 0;
    }
}

@media screen and (min-width:426px) and (max-width:768px) {
    .places { 
        padding: 105px 0 98px 0;
    }
}