.place__image {
    max-width: 460px;
}

@media screen and (min-width:850px) and (max-width:1030px) {
    .place__image {
        max-width: 440px;
    }
}

@media screen and (min-width:551px) and (max-width:849px) {
    .place__image {
        max-width: 340px;
    }
}

@media screen and (max-width:550px) {
    .place__image {
        width: 100%;
    }
}