.place__image {
    max-width: 460px;
    grid-area: image;
}

@media screen and (min-width:1000px) and (max-width:1279px) {
    .place__image {
        max-width: 440px;
    }
}

@media screen and (min-width:768px) and (max-width:999px) {
    .place__image {
        max-width: 340px;
    }
}

/* Картинку по вашему совету растянула на 100%, но задала ограничения, 
без них мне показалась она слишком большой для экрана */

@media screen and (max-width: 767px) {
    .place__image {
        max-height: 600px;
        max-width: 600px;
        width: 100%;
        margin: auto;
    }
}