.place__paragraphs {
    grid-area: paragraphs;
}

@media screen and (min-width:771px) and (max-width:1279px) {
    .place__paragraphs { 
        margin-top: 7px;
    }
}

@media screen and (max-width:770px) {
    .place__paragraphs { 
        margin-top: 0;
    }
}

