.place {
    width: 77vw;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
    grid-template-areas: 
    "title website"
    "image paragraphs";
    justify-content: start;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (min-width:769px) and (max-width:1279px) {
    .place {
        width: 90vw;
    }
}

@media screen and (width:768px) {
    .place {
        width: 94vw;
        margin-bottom: 73px;
        grid-template-rows: repeat(auto-fit, minmax(46px, 1fr));
    }
}

@media screen and (max-width:767px) {
    .place {
        width: 100vw;
        margin-bottom: 63px;
        grid-template-rows: repeat(auto-fit, minmax(35px, 1fr));
        grid-template-areas: 
        "title"
        "image" 
        "paragraphs";
    }     
}