.place {
    width: 77vw;
    margin-bottom: 80px;
    display: flex;
    justify-content: start;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (min-width:769px) and (max-width:1030px) {
    .place {
        width: 90vw;
    }
}

@media screen and (min-width:426px) and (max-width:768px) {
    .place {
        width: 94vw;
        margin-bottom: 73px;
    }
}

@media screen and (max-width:425px) {
    .place {
        width: 100vw;
        margin-bottom: 49px;
        flex-direction: column;
    }     
}