.footer {
    width: 93%;
    margin: auto;
    padding: 92px 0 24px 0;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:550px) {
    .footer {
        padding: 64px 0 24px 16px;
        flex-direction: column;
    }
}