.place__website { 
    margin: 30px 0 48px 0;
    grid-area: website;
    align-self: end;
}

@media screen and (min-width:551px) and (max-width:768px) {
    .place__website { 
        margin-top: 0;
    }
}

@media screen and (max-width:550px) {
    .place__website { 
        display: none;
    }
}